<section id="first-page">
  <header>
    <h1>Budget App</h1>
  </header>

  <nav>
    <%= link_to "LOG IN ", new_user_session_path, class: "bttn blue-bttn" %>
    <%= link_to "SIGN UP ", new_user_registration_path, class: "bttn blue-bttn grey-bttn" %>
  </nav>
</section>